.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;

    margin: 0 auto;

    &.--small {
        max-width: 770px;
    }

    &.--border {
        padding-bottom: 12rem;
        border-bottom: 1px solid rgba($white, 0.1);

        @include bp($mobile-bp){
            padding-bottom: 4rem;
        }
    }

    &.--border-sm {
        padding-bottom: 3rem;
        border-bottom: 1px solid rgba($white, 0.1);
    }
}

.container__inner {
    width: 100%;
    max-width: 77rem;
    margin: 0 auto;
}