.site-map {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    max-width: 51rem;
    margin: 0 auto;
    
    @include bp($mobile-bp){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
}