.slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

    &.--absolute {
        position: absolute;
        z-index: 0;
    }
}

.slide {
    flex-shrink: 0;
    transition: transform 1s ease-in-out;

    &.--op {
        opacity: 0.4;
    }
}
