<footer class="footer">
    <div class="container">

        <div class="footer__inner">

            <div class="footer__info">
                <div class="logo  --footer">
                    <img class="logo__img" src="assets/images/logo.png" alt="bg">
                    <span class="logo__line  --fade"></span>

                    <div class="logo__header">
                        <h1 class="logo__title">Food & wine</h1>
                    </div>
                </div>

                <div class="contacts  --footer">
                    <address class="contact  --address">
                        <span>Address:</span>
                        <br>
                        <p>
                            4578 Marmora St,
                            San Francisco D04 89GR.
                        </p>
                    </address>
                    <div class="contact">Telephone: 1-800-1234-567</div>
                    <div class="contact  --mail">
                        E-mail: <span>mail@demolink.org</span>
                    </div>
                </div>
            </div>

            <div class="footer__contacts">
                <h2 class="footer__title">
                    Contact Us
                </h2>

                <form action="/" method="get" class="footer__form">
                    <input placeholder="Your name" class="footer__form-input" type="text">
                    <input placeholder="Email" class="footer__form-input" type="text">

                    <textarea placeholder="Message" class="footer__form-textarea"></textarea>

                    <button class="footer__form-button">Submit</button>
                </form>
            </div>

            <div class="footer__subscribe">
                <h2 class="footer__title">
                    Newsletter
                </h2>

                <div class="footer__text">
                    <p></p>
                </div>

                <form action="" class="footer__form">
                    <input class="footer__form-input  --email" type="text" placeholder="&#xe4e8">
                    <button class="footer__form-button">Subscribe</button>
                </form>
            </div>

        </div>

        <div class="footer__copyright">
            <p>
                Food & wine © 2016. Privacy Policy
            </p>
        </div>

    </div>
</footer>