<header class="header" id="header">

    <!-- Header Contacts -->
    <div class="header__contacts">
        <div class="container">

            <div class="contacts">
                <div class="contact">
                    <i class="fa-solid fa-location-dot"></i>

                    <address>
                        4578 Marmora Road, Glasgow D04 89GR
                    </address>
                </div>

                <div class="contacts__container">

                    <div class="contact">
                        <i class="fa-solid fa-phone"></i>
                        <p>
                            +1 (800) 123 1334
                        </p>
                    </div>

                    <div class="contact">
                        <i class="fa-regular fa-clock"></i>

                        <p>
                            10:00 am — 11:00 pm
                        </p>
                    </div>

                </div>
            </div> <!-- /.contacts -->

        </div> <!-- /.container -->
    </div> <!-- /.header__contacts -->


    <!-- Header Content -->
    <div class="header__content">
        <div class="logo">
            <img class="logo__img" src="assets/images/logo.png" alt="bg">
            <span class="logo__line"></span>

            <div class="logo__header">
                <span class="decoration__line  --half-fade --mw100"></span>

                <div class="logo__container">
                    <h1 class="logo__title">Food & wine</h1>
                    <h2 class="logo__subtitle">wine & winery restaurant</h2>
                </div>

                <span class="decoration__line  --half-fade --mw100 --rotate"></span>
            </div>
        </div>

        <div class="container">

            <nav class="nav" id="nav">
                <ul class="nav__list">
                    <li class="nav__item" id="home">
                        <a class="nav__link" href="../index.html">Home</a>
                    </li>

                    <li class="nav__item  --extended" id="wine">
                        <div class="nav__container">
                            <div class="nav__link">Wine Menu</div>
                            <span class="arrow"></span>
                        </div>

                        <ul class="subnav">
                            <li>
                                <a href="../wine-list.html" class="subnav__link">Wine List</a>
                            </li>

                            <li>
                                <a href="../wine-list.html" class="subnav__link">Wine Menu</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav__item" id="menu">
                        <a class="nav__link" href="../menu.html">Food Menu</a>
                    </li>

                    <li class="nav__item" id="specials">
                        <a class="nav__link" href="../specials.html">Specials</a>
                    </li>

                    <li class="nav__item  --extended" id="pages">
                        <div class="nav__container">
                            <div class="nav__link">Pages</div>
                            <span class="arrow"></span>
                        </div>

                        <ul class="subnav">
                            <li>
                                <a href="../about.html" class="subnav__link">About us</a>
                            </li>

                            <li>
                                <a href="../team.html" class="subnav__link">Our team</a>
                            </li>

                            <li>
                                <a href="../chef-profile.html" class="subnav__link">Chef profile</a>
                            </li>

                            <li>
                                <a href="../careers.html" class="subnav__link">Careers</a>
                            </li>

                            <li>
                                <a href="../faq.html" class="subnav__link">FAQ</a>
                            </li>

                            <li>
                                <a href="../wine-list.html" class="subnav__link">Pricing table</a>
                            </li>

                            <li>
                                <a href="../login.html" class="subnav__link">Login</a>
                            </li>

                            <li>
                                <a href="../register.html" class="subnav__link">Register</a>
                            </li>

                            <li>
                                <a href="../clients.html" class="subnav__link">Clients</a>
                            </li>

                            <li>
                                <a href="../partners.html" class="subnav__link">Partners</a>
                            </li>

                            <li>
                                <a href="../privacy-policy.html" class="subnav__link">Privacy policy</a>
                            </li>

                            <li>
                                <a href="../site-map.html" class="subnav__link">Site map</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav__item  --extended" id="gallery">
                        <div class="nav__container">
                            <div class="nav__link">Gallery</div>
                            <span class="arrow"></span>
                        </div>

                        <ul class="subnav">
                            <li>
                                <a href="../gallery-cobbles.html" class="subnav__link">Gallery Cobbles</a>
                            </li>

                            <li>
                                <a href="../gallery-fullwidth.html" class="subnav__link">Gallery fullwidth</a>
                            </li>

                            <li>
                                <a href="../gallery-grid.html" class="subnav__link">Gallery grid</a>
                            </li>

                            <li>
                                <a href="../gallery-masonry.html" class="subnav__link">Gallery masonry</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav__item  --extended" id="blog">
                        <div class="nav__container">
                            <div class="nav__link">Blog</div>
                            <span class="arrow"></span>
                        </div>

                        <ul class="subnav">
                            <li>
                                <a href="../blog-classic.html" class="subnav__link">Blog classic</a>
                            </li>

                            <li>
                                <a href="../blog-grid.html" class="subnav__link">Blog grid</a>
                            </li>

                            <li>
                                <a href="../blog-masonry.html" class="subnav__link">Blog masonry</a>
                            </li>

                            <li>
                                <a href="../blog-modern.html" class="subnav__link">Blog modern</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav__item" id="contacts">
                        <a class="nav__link" href="../contacts.html">Contact Us</a>
                    </li>
                </ul>

                <div class="burger" id="burger">
                    <span class="burger__line">Menu</span>
                </div>
            </nav> <!-- /.nav -->

        </div> <!-- /.container -->
    </div> <!-- /.header__content -->

</header> <!-- /.header -->